body > * * *:hover:not(ul):not(div){
	background-color: #A6CE39;
}

html{
	background-image: url("http://selab.hanyang.ac.kr/courses/cse326/2017/labs/images/3/blueTextureBG.jpg");
	background-position: center;
	margin-left: 10%;
	margin-right: 10%;
}

.left{
	margin-top: 10px;
}

.right{
	margin-left: 170px;
}

.redBorder{
	border: 5px solid red;
	text-align: right;
}

.redBorder2{
	text-align: right;
	background-color: #1D2475;
}

.redBorder2 h1{
	color: white;
}

.redBorder2 h2{
	color: white;
}

.redBorder2 .darkOrangeBorder{
	border: none;
}

.darkOrangeBorder{
	border: 5px solid darkorange;
}

.darkOrangeBorder h2{
	font-size: 14pt;
	color: #CCCCCC;
	border: none;
}

.greenBorder{
	border: 5px solid green;
	background-color: white;
}

.whiteBorder{
	border: 10px solid white;
	background: white;
}

.purpleBorder{
	border: 5px solid purple;
}

.purpleBorder2{
	border-bottom: 2px dashed blue;
}

.blueBorder{
	border: 5px solid blue;
	background-color: #99CCFF;
	padding-top: 5px;
	margin-top: 10px;
	text-align: justify;
	overflow: hidden;
}

.blueBorder img{
	float: right;
}

.blueBorder2{
	border: 4px solid #1D2475;
	border-radius: 15px;
	background-color: #99CCFF;
	padding-top: 5px;
	margin-top: 10px;
	text-align: justify;
	overflow: hidden;
}

.blueBorder2 img{
	float: right;
}

.listBorder{
	border: 4px solid #1D2475;
	border-radius: 15px;
	width: 150px;
	background-color: #3366CC;
	float: left;
	overflow: hidden;
}
